body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px !important;
  width: 40% !important;
}

.topic {
  text-align: center;
  background-color: #042c5c;
  color: #ffffff;
  font-family: "Arita Sans" !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.imageInput {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding: 13px;
  margin: 15px;
  cursor: pointer;
  float : right ;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px !important;
  height: 250px !important;
  width: 250px !important;
  border-left: 4px solid rgb(21, 61, 2) !important;
  border-right: 4px solid rgb(21, 61, 2) !important;
  border-top: 4px solid rgb(21, 61, 2) !important;
  border-bottom: 4px solid rgb(21, 61, 2) !important;
  float : left;
}

#input_img, #no_img {
  text-align: center;
  height: 256px !important;
  width: 256px !important;
  box-sizing: content-box !important;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}


* {
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
  transition: all .25s;
}
.datepicker-holder {
	margin: 20px 0;
	width: 212px;
  text-align: center;
  float: right;
}
.datepicker-holder .prev {
  float: left;
}
.datepicker-holder .next {
  float: right;
}
.heading {
  overflow: hidden;
  margin: 0 0 10px;
}
.datepicker {
	border: 1px solid #000;
	overflow: hidden;
	width: 212px;
}
.datepicker	.cell {
  float: left;
  border: 1px solid #000;
  height: 30px;
  width: 30px;
  line-height: 28px;
  font-size: 15px;
  text-align: center;
}
.datepicker	.cell a {
  display: block;
  text-decoration: none;
}
.datepicker	.cell a.current {
  background: #aaa;
}
.datepicker	.cell a:hover {
  color: white;
  background: black;
}
.chosen-date {
  overflow: hidden;
  padding: 10px 0;
  text-align: left;
}
.chosen-date a {
  float: right;
}
